Acceso Datos/XML,XPath,Xquery,Oracle/Ejercicios/Ejercicios resueltos/Ej1 DTD/datospersonales.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT persona ((nombre, apellido, DNI, fechanacimiento, direccion, telefono+, email+))>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT fechanacimiento ((dia, mes, anio))>
<!ELEMENT email (#PCDATA)>
<!ELEMENT direccion ((calle, numero, poblacion, pais))>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT DNI (#PCDATA)>
